:root {
    --regular_text:rgb(0, 0, 0);
    --border_color: rgb(0, 0, 0);
    --background_color: rgb(83, 83, 83);
    --background_color: rgb(255, 255, 255);
    --header_color: rgb(0, 0, 0);
    --link_color: rgb(0, 100, 0);
    --link_background: rgb(0, 0, 0);
    --visited_link_color: rgb(83, 83, 83);
    --highlight_background: rgb(245, 152, 53);
    --hover-link-background: rgb(245, 152, 53);
    --other_link_color: rgb(255, 138, 226);
}

html {
    background-color: var(--background_color);
    color: var(--regular_text);

}

::selection { /* Colors for highlighting stuff */
    background: var(--highlight_background);
}

::-moz-selection { /* Also colors for highlighting stuff */
    background: var(--highlight_background);
}

h1{
    position:relative;
}

body{
    padding:20px;
}

.twitterLink {
    text-decoration: none;
}

.shallowDepth {
    -webkit-transform:translateZ(125px);
    transform:translateZ(125px);    
}

#contactGif {
    position: fixed;
    right: -33px;
    bottom: 0px;
    -webkit-transform-style:preserve-3d;
    transform-style:preserve-3d;    
}

.twitterLink:hover {
    color: var(--other_link_color);
    background-color: transparent;
}

.fungif {
    width: 30px;
    height: 30px;
}

body,h1,h2 {
    font-family:Courier,monospace;
    font-size:14px;
    font-weight:400;
}

a {
    color: var(--link_color);
    padding: 4px;
}

a:hover {
    background-color: var(--hover-link-background);
}

a:visited { /* color of a link that's been clicked on*/
    color: var(--visited_link_color);
}

li:hover {
    background-color: var(--hover-link-background);
}

h1{
    left:0
}

strong{
    font-weight:700
}

ul{
    list-style:none;padding:0
}

.smallerHeader {
    font-weight: bold;
}

.paragraphLink {
    text-decoration: none;
}

.paragraphLink:hover {
    color: var(--other_link_color);
    background-color: transparent;
}

/* 
The settings for spinny div when you're
on desktop.
 */
#spinnyDiv {
    border:1px solid var(--border_color);
    padding:0 15px;
    -webkit-transform-style:preserve-3d;
    transform-style:preserve-3d;
}

#spinnyDiv:hover {
    border-color: black;
}

p,h2,ul{
    line-height:0.75;
    -webkit-transform:translateZ(100px);
    transform:translateZ(100px);
}

.pWithLinks {line-height: 1.2;}

/* The idea of these is to give you options for the 3d effect */
.backSecondDepth{
    -webkit-transform:translateZ(125px);
    transform:translateZ(125px);
}

.backThirdDepth{
    -webkit-transform:translateZ(175px);
    transform:translateZ(175px);
}

.backFourthDepth{
    -webkit-transform:translateZ(225px);
    transform:translateZ(225px);
}

/* The idea of these is to give you options for the 3d effect */
.frontDepth{
    -webkit-transform:translateZ(-50px);
    transform:translateZ(-50px);
}

@media only screen and (min-width:770px) {

body{
    padding-bottom:10em;
}

body,h1,h2 {
    font-size: 17px;
}

/* 
The settings for spinny div when you're
on a mobile screen
 */
#spinnyDiv {
    width:550px;
    position:absolute;
    top:5em;
    left:20%;
}

}

