:root {
    --regular_text:rgb(0, 0, 0);
    --border_color: rgb(0, 0, 0);
    --background_color: rgb(83, 83, 83);
    --background_color: rgb(255, 255, 255);
    --header_color: rgb(0, 0, 0);
    --link_color: rgb(56, 199, 34);
    --link_background: rgb(0, 0, 0);
    --visited_link_color: rgb(0, 100, 0);
    --visited_link_color_twitter_link: #929292;
    --highlight_background: rgb(245, 152, 53);
    --hover_link_color: rgb(56, 199, 34);
    --other_link_color: rgb(56, 199, 34);

    --rotating_color_0: #e111d0;
    --rotating_color_1: #d0e111;
    --rotating_color_2: #e11168;
    --rotating_color_3: #e12211;
    --rotating_color_4: #e18a11;
}

html {
    background-color: var(--background_color);
    color: var(--regular_text);
}


#paigeProfileImg {
    max-width: 90%;
}

::selection { /* Colors for highlighting stuff */
    background: var(--highlight_background);
}

::-moz-selection { /* Also colors for highlighting stuff */
    background: var(--highlight_background);
}

h1{
    position:relative;
}

body{
    padding:20px;
}

.allPageLink {
    text-decoration: none;
    color: var(--regular_text);
    text-decoration: none;
    margin: 10px;
    margin: 0;
    padding: 0;    
}

.randVisited0:visited {
    color: var(--rotating_color_0);
}

.randVisited1:visited {
    color: var(--rotating_color_1);
}

.randVisited2:visited {
    color: var(--rotating_color_2);
}

.randVisited3:visited {
    color: var(--rotating_color_3);
}

.randVisited4:visited {
    color: var(--rotating_color_4);
}


#contactGif {
    position: fixed;
    right: 5px;
    bottom: 5px;
    -webkit-transform-style:preserve-3d;
    transform-style:preserve-3d;    
}

#backToLandingLink {

}

.allPageLink:hover {
    color: var(--other_link_color);
    background-color: transparent;
}

.fungif {
    width: 30px;
    height: 30px;
}

body,h1,h2 {
    font-family:Courier,monospace;
    font-size:14px;
    font-weight:400;
}

a {
    color: var(--link_color);
    padding: 4px;
}

.contentLink:hover {
    color: var(--hover_link_color);
}

#homeLink {
    width:100%;
    display: flex;
    justify-content: center;    
}

#homeLink:hover {
    color: var(--other_link_color);
    background-color: none;
}

li:hover {
    background-color: var(--hover-link-background);
}

h1{
    left:0
}

strong{
    font-weight:700
}

ul{
    list-style:none;padding:0
}

.smallerHeader {
    font-weight: bold;
}

.homeBtn {
    color: var(--rotating_color_0);
}

.homeBtn:hover {
    color: var(--hover_link_color)
}

.paragraphLink:hover {
    color: var(--other_link_color);
    background-color: transparent;
}

/* 
The settings for spinny div when you're
on desktop.
 */
#spinnyDiv {
    border:1px solid var(--border_color);
    padding:0 15px;
    -webkit-transform-style:preserve-3d;
    transform-style:preserve-3d;
    max-width:374px;
}

#spinnyDiv:hover {
    border-color: black;
}

p,h2,ul{
    line-height:1.35;
    -webkit-transform:translateZ(100px);
    transform:translateZ(100px);
}
.pWithLinks {line-height: 1.2;}

/* The idea of these is to give you options for the 3d effect */
.thirdDepth{
    -webkit-transform:translateZ(200px);
    transform:translateZ(200px);

}

/* The idea of these is to give you options for the 3d effect */
.fourthDepth{
    /* -webkit-transform:translateZ(0px); */
    /* transform:translateZ(0px); */
}

/* The idea of these is to give you options for the 3d effect */
.fifthDepth{
    -webkit-transform:translateZ(-30px);
    transform:translateZ(-30px);
}

@media only screen and (min-width:770px) {

body{
    padding-bottom:10em;
}

body,h1,h2 {
    font-size: 17px;
}

/* 
The settings for spinny div when you're
on a mobile screen
 */
#spinnyDiv {
    width:374px;
    position:absolute;
    top:5em;
    left:30%;
}

#paigeProfileImg {
    max-width: 80%;
}

}

@media only screen and (min-width:900px) {
    #paigeProfileImg {
        max-width: 50%;
    }    
}